[flake8]
# it's not a bug that we aren't using all of hacking
ignore = E402, W503, E501
max-line-length = 120
exclude = 
    .git,
    __pycache__,
    docs/source/conf.py,
    old,
    build,
    dist,
    venv,
    __init__.py